*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

main{
    height: calc(100vh - 100px);
    background-image: url('/img/treno-delle-pigne-2-1140x660.jpg');
    background-size: cover;
    background-position-y: 100%;
}

.row{
    height: 100px;
    display: flex;
    align-items: center;
}

.container{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    text-align: center;
}

body{
    color: white;
}

.box{
    width: 50%;
    height: 40%;
    margin: 0 auto;
    background-color: black;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mioBiglietto:after{
    content: "\20AC";
}